- @post.each do |post|
  = link_to (image_tag post.image.url(:small)), post
  %h2= link_to post.title, post
  %p
    = post.comments.count
    Comments
  %p
    = post.get_likes.count
    Likes
  %p
    = post.get_dislikes.count
    Dislikes

= link_to "New Place", new_post_path(@post)
